.NavBar {
display: flex;
align-items: flex-end;
justify-content: flex-end;
padding: 2px;
margin-right: 5px;
background-color: rgb(195, 195, 195);
border:rgb(152, 156, 156) solid 2px;
list-style: none;

}

.boton
{
    padding: 10px;
    list-style: none;
}


.a{
text-decoration: none;
color: black;
}
.active
{
    color:  red;
    text-decoration: none;
    font-size: 20px;
}